  {% extends 'layout.html' %}
  {% import 'forms.html' as forms %}
  {% import 'submenu.html' as submenu %}
  {% from 'build_line.html' import build_table %}
  {% from "box_macros.html" import box %}
  
  {% set bodyId = 'id="branch_comparison_page"' %}

  {% block submenu %}
    {{submenu.buildsubmenu(active_page="branch_comparison", pathNum=2, codebasesPath='', builderName='', buildNumber='', stepName='')}}
  {% endblock %}

  {% block content %}

<form role="form" class="form-horizontal pick-branch clearfix">
  <label class="col-sm-1 control-label">
    Pick your branch
  </label>
  <div class="col-sm-1">
    <select class="form-control">
      <option>master</option>
      <option>Unity-trunk</option>
    </select>
  </div>
</form>
<div class="clearfix"></div>
<div class="row">
  <div class="rounded-container">
    <div class="col-md-6">
      <h2 class="head-2">
          My branch
      </h2>
      <table data-default-sort-col="0" id="tablesorterRtdfs" class="tablesorter-js table-1 first-child tablesorter initjson">
          <thead>
              <tr>
                  <th class="txt-align-left">Builder</th>                  
                  <th class="txt-align-left">Last run</th>
                  <th class="txt-align-left">Status</th>
                  <th class="no-tablesorter-js">shortcuts</th>                  
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="txt-align-left">
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild?krait-signal-handler_branch=master&unityscript_branch=unity-trunk&mono_branch=unity-trunk&unity_branch=trunk&boo_branch=unity-trunk&cecil_branch=unity-trunk">ACompleteBuild</a>
              </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="success">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build Finished Successfully
                </span>
              </td>
              <td>
                <a title="Show the point of failure" class="point-of-failure" href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild/builds/8/steps/Trigger/logs/interrupt?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk"></a>
              </td>
            </tr>
             <tr>
              <td class="txt-align-left"> <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-Android%20Runtime?krait-signal-handler_branch=master&amp;unityscript_branch=unity-trunk&amp;mono_branch=unity-trunk&amp;unity_branch=trunk&amp;boo_branch=unity-trunk&amp;cecil_branch=unity-trunk">Android Runtime</a>
            </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="failure">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build failed
                </span>
              </td>
              <td>
                <a title="Show the point of failure" class="point-of-failure" href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild/builds/8/steps/Trigger/logs/interrupt?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk"></a>
              </td>
            </tr>

             <tr>
              <td class="txt-align-left sorting_1"> <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-BareMinimum%20Runtime?krait-signal-handler_branch=master&amp;unityscript_branch=unity-trunk&amp;mono_branch=unity-trunk&amp;unity_branch=trunk&amp;boo_branch=unity-trunk&amp;cecil_branch=unity-trunk">BareMinimum Runtime</a>
              </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="failure">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build failed
                </span>
              </td>
              <td>
                <a title="Show artifacts" class="artifact-js more-info" href="#"></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-md-6">
      <h2 class="head-2">
          Trunk
      </h2>
      <table data-default-sort-col="0" id="tablesorterRt2" class="tablesorter-js table-1 first-child tablesorter initjson">
          <thead>
              <tr>
                  <th class="txt-align-left">Builder</th>                  
                  <th class="txt-align-left">Last run</th>
                  <th class="txt-align-left">Status</th>
                  <th class="no-tablesorter-js">shortcuts</th>                  
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="txt-align-left">
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild?krait-signal-handler_branch=master&unityscript_branch=unity-trunk&mono_branch=unity-trunk&unity_branch=trunk&boo_branch=unity-trunk&cecil_branch=unity-trunk">ACompleteBuild</a>
              </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="failure">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build failed
                </span>
              </td>
              <td>
                <a title="Show the point of failure" class="point-of-failure" href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild/builds/8/steps/Trigger/logs/interrupt?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk"></a>
              </td>
            </tr>

            <tr>
              <td class="txt-align-left"> <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-Android%20Runtime?krait-signal-handler_branch=master&amp;unityscript_branch=unity-trunk&amp;mono_branch=unity-trunk&amp;unity_branch=trunk&amp;boo_branch=unity-trunk&amp;cecil_branch=unity-trunk">Android Runtime</a>
            </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="success">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build finished Successfully
                </span>
              </td>
              <td>
                <a title="Show the point of failure" class="point-of-failure" href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-ACompleteBuild/builds/8/steps/Trigger/logs/interrupt?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk"></a>
              </td>
            </tr>

            <tr>
              <td class="txt-align-left sorting_1"> <a href="http://katana-staging.hq.unity3d.com/projects/Mono%20Runtime%20and%20Classlibs/builders/proj4-BareMinimum%20Runtime?krait-signal-handler_branch=master&amp;unityscript_branch=unity-trunk&amp;mono_branch=unity-trunk&amp;unity_branch=trunk&amp;boo_branch=unity-trunk&amp;cecil_branch=unity-trunk">BareMinimum Runtime</a>
              </td>
              <td class="txt-align-left last-build-js">
                <span class="hide hidden-date-js">1403478028.344881</span>
                <span class="last-run" data-timeelem="true">10 hours ago</span>
                <span class="small-txt">(13 hours 2 mins, 8 secs)</span>
              </td>
             <td class="failure">
                <span class="hide">Build Finished Successfully</span>
                <a href="http://katana-staging.hq.unity3d.com/projects/Mono Runtime and Classlibs/builders/proj4-Android%20Runtime/builds/9?mono_branch=unity-trunk&amp;unity_branch=trunk&amp;krait-signal-handler_branch=master&amp;boo_branch=unity-trunk&amp;unityscript_branch=unity-trunk&amp;cecil_branch=unity-trunk">#9</a>
                <span class="status-text">
                  Build failed
                </span>
              </td>
              <td>
                <a title="Show artifacts" class="artifact-js more-info" href="#"></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
  
  {% endblock %}    
